<div class="table">
  <div class="table-cell ic" title="The beginning capacity of our hash map.">
    Initial Capacity: {{ initialCapacity }}
  </div>
  <div
    class="table-cell lf"
    title="Measure to decide when the capacity of our hashmap auto increments.
    A cool feature. But we're not gonna use that."
  >
    Load Factor: {{ loadFactor }}
  </div>
  <div
    class="table-cell cct"
    title="Number of elements after which bucket based linked list turns into a Red-black Tree."
  >
    Treeify Threshold:{{ CollisionConvertThreshold }}
  </div>
</div>
