<div class="inventory">
  Items in inventory: 'b'
  <span class="glyphicon glyphicon-arrow-right"></span> 'y','g'
  <span class="glyphicon glyphicon-arrow-right"></span> 't','h'
  <span class="glyphicon glyphicon-arrow-right"></span> 's', 'c'
  <span class="glyphicon glyphicon-arrow-right"></span> 'x', 'd'
  <span class="glyphicon glyphicon-arrow-right"></span> 'w', 'i'
  <span class="glyphicon glyphicon-arrow-right"></span> 'r', 'e'
  <span class="glyphicon glyphicon-arrow-right"></span> 'v', 'a'
  <span class="glyphicon glyphicon-arrow-right"></span> 'z'
</div>
