<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Java HashMaps<br />Behind The Scenes</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href=""><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a
          href="https://github.com/mannmath/java-hash-map-visualizer"
          id="git"
          target="_empty"
          ><img src="assets/git.png" width="35px" height="35px"
        /></a>
      </li>
      <li>
        <a onclick="alert('mannmath180@gmail.com')"
          ><span class="glyphicon glyphicon-envelope"></span
        ></a>
      </li>
    </ul>
  </div>
</nav>
